%%-*- mode: erlang -*-
%% ex: ft=erlang
%% {require_otp_vsn, "R19"}.

{erl_opts, [debug_info]}.

{deps, [
%% third party
{jsonx, "", {git, "https://github.com/elpaisa/jsonx.git", {branch, master}}},
%% Add meck to the list of dependencies
{meck, "", {git, "https://github.com/basho/meck.git", {tag, "0.8.4"}}},
{qdate, "", {git, "https://github.com/elpaisa/qdate", {tag, "0.4.3"}}},
{egeoip, "", {git, "https://github.com/mochi/egeoip", {branch, master}}}
]}.